<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <h1>Home Page</h1>  
 <%= console.log('restaurant', restaurant) %>
 <%=  restaurant.forEach((place) => { %>
    <p> this is a paragraph</p>
 <% }); %>





</body>
</html>


 